@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&family=Zen+Tokyo+Zoo&display=swap');

*, html, body{
    margin: 0px;
    padding: 0px;
    font-style: normal;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
}

.bblack{
    border: 2px solid black;
}

.bred{
    border: 2px solid red;
}





/* 
    Font Collection classes for easy use
    format is "fontname-weight[-style]"
    style if needed you can write it without the bracket
    currently there are:            and style:
    - Poppins                           - italic
    - Volkhov
    - Zen Tokyo Zoo

    with weight:        
    - thin                  
    - extralight
    - light
    - regular
    - medium
    - semibold
    - bold
    - extrabold
    - black
*/

.volkhov-regular {
    font-family: "Volkhov", serif;
    font-weight: 400;
    font-style: normal;
}
  
.volkhov-bold {
    font-family: "Volkhov", serif;
    font-weight: 700;
    font-style: normal;
}
  
.volkhov-regular-italic {
    font-family: "Volkhov", serif;
    font-weight: 400;
    font-style: italic;
}
  
.volkhov-bold-italic {
    font-family: "Volkhov", serif;
    font-weight: 700;
    font-style: italic;
}
  

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.zen-tokyo-zoo-regular {
  font-family: "Zen Tokyo Zoo", system-ui;
  font-weight: 400;
  font-style: normal;
}
  
/*
  Pause and play button animation and vector for
  buttons
*/
.play-button-case{
  background-color: #03C7F2;
  aspect-ratio: 1/1;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding: 10px;
}

.play-button-container {
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.play-button {
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  background: #fff;
  transition: clip-path .3s ease;
}
.play-button-before {
  clip-path: polygon(0 0, 50% 25%, 50% 75%, 0% 100%);
}
.play-button-after {
  clip-path: polygon(50% 25%, 100% 50%, 100% 50%, 50% 75%);
}
.play-button-container.play-button-active .play-button-before {
  clip-path: polygon(0 0, 30% 0, 30% 100%, 0% 100%);
}
.play-button-container.play-button-active .play-button-after{
  clip-path: polygon(70% 0, 100% 0, 100% 100%, 70% 100%)
}

/*
  Time line range for the sliders
*/

.timeline{
  -webkit-appearance: none;
  position: absolute;
  height: 3px;
  width: 185px;
  background-color: black;
  border: 5px;
  outline: none;
  border: none;
}

.timeline::-webkit-slider-thumb{
  -webkit-appearance: none;
  background-color: #03C7F2;
  border: 2px solid black;
  border-radius: 100%;
  height: 20px;
  width: 20px;
}