body{
    background-color: black;
}

.container{
    display: grid;
    height: 97.5vh;
    grid-template-columns: 1fr 5fr 1fr;
}

.option, a{
    width: 80px;
    height: 80px;
}

.left{
    background-color: blueviolet; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.mid{
    background-color: blue;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    
}

.top{
   display: flex;
   justify-content: center;
   width: 100%;
   padding: 15px;
   gap : 10px;
   
}

.right{
    background-color: bisque;
    border-radius: 10px;
    margin: 5px;
}

.picture,img{
    width: 100%;
    height: 100%;
    display: block;
    /* padding: 5px; */
    
    
}
.picture{
    width: 150px;
    height: 150px;
    gap: 10px;
    border : 5px solid black;
    border-radius: 10px;
}
/* body,html{
    margin: 0;
    padding: 0;
    height: 100%;
}