<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class = "container">
    <div class="left">
        <h1>Wedio</h1>
        <a class="option">Home</a>
        <a class="option">Search</a>
        <a class="option">Message</a>
        <a class="option">Create</a>
        <a class="option">Profile</a>
    </div>
    <div class="mid">

        <div class = "top">
            <div class="picture">
                <img src="../assets/bg,f8f8f8-flat,750x,075,f-pad,750x1000,f8f8f8.u1.jpg" draggable="false">
            </div>
            <div class="picture">
                <img src="../assets/bg,f8f8f8-flat,750x,075,f-pad,750x1000,f8f8f8.u1.jpg" draggable="false">
            </div>
            <div class="picture">
                <img src="../assets/bg,f8f8f8-flat,750x,075,f-pad,750x1000,f8f8f8.u1.jpg" draggable="false">
            </div>
            <div class="picture">
                <img src="../assets/bg,f8f8f8-flat,750x,075,f-pad,750x1000,f8f8f8.u1.jpg" draggable="false">
            </div>
            <div class="picture">
                <img src="../assets/bg,f8f8f8-flat,750x,075,f-pad,750x1000,f8f8f8.u1.jpg" draggable="false">
            </div>
        </div>
    </div>
    <div class="right">

    </div>
    
</div>

</body>
</html>