<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/landing_page.css">
</head>
<body >
    <header class="header ">
        <div id="logo" class="">
            <img src="../assets/logo.svg" id="logo-img" alt="Logo">
            <img src="../assets/WEDIO.svg" id="brand" alt="WEDIO">
        </div>

        <!-- Button not finished -->
        <div class="button-case">
            <a href="./login_page.html" id="start" class="">Get Started</a>
        </div>
    </header>

    <section class="hero-section">
        <div class="">
            <img src="../assets/Hero Text.svg" alt="" id="hero-text" class="">
            <img src="../assets/Vector.svg" alt="" id="hero-vector" class="">
        </div>
    </section>

    <div class="bg1">
        <section class="decor-section">
            <p class="poppins-medium scroll-text ">Scroll to Find More</p>
            <img src="../assets/Line.svg" alt="" id="line-decor" class="">
            <img src="../assets/Line2.svg" alt="" id="line-decor2" class="">
            <img src="../assets/Mic n Bubble.svg" alt="" id="mic-bubble" class="">
        </section>
        <section class="support-section">
            <img src="../assets/Support-hero.svg" alt="" class="support-vector">
            <div class="support-text">
                <h1 class="volkhov-bold">Tired of procrastination caused by <span id="block-text">social media</span> ?</h1>
            </div>
        </section>
    </div>

</body>
</html>