<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="container1">
        <div class="container">
            <h1>Wedio</h1>
            <h2>Sign Up to listen to your friends</h2>
            <div class="loginContainer">
                <p>Log in with Facebook</p>
            </div>
            <div class="loginContainer">
                <p>Log in with Gmail</p>
            </div>
            <div class="loginContainer">
                <p>Log in with Apple Id</p>
            </div>
            <div class="loginContainer">
                <p>Log in with Microsoft</p>
            </div>
            <h2 class="line">OR</h2>
            <div class="loginContainer">
                <p>Create a new account</p>
            </div>
        </div>      
        <div>
          <button class="back">&lt;- Back</button>
         </div>
    </div>
    <div class="connector">
        <a href=""> About</a>
        <a href="">Help</a>
        <a href="">Blog</a>
        <a href="">Privacy</a>
        <a href="">Jobs</a>
        <a href="">Location</a>
        <a href="">Term</a>
        <a href="">Wedio</a>
    </div>
        <footer>Ⓒ 2024 All Rights Reserved PT.Wedio</footer>

</body>
</html>