<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wedio-Login</title>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="container1">
        <div class="container">
            <a href="load_screen.html">
                <div class="title-logo">
                    <img src="../assets/logo.svg" alt="" id="logo-img">
                    <img src="../assets/WEDIO.svg" alt="" id="brand-logo">
                </div>
            </a>
            <h2 class="poppins-bold" id="signupnlisten">Sign Up and listen to your friends</h2>
            <div class="loginContainer">
                <img src="../assets/facebook.png" alt="">
                <p class="poppins-medium">Log in with Facebook</p>
            </div>
            <div class="loginContainer">
                <img src="../assets/gmail.png" alt="">
                <p class="poppins-medium">Log in with Gmail</p>
            </div>
            <div class="loginContainer">
                <img src="../assets/apple-logo.png" alt="">
                <p class="poppins-medium">Log in with Apple Id</p>
            </div>
            <div class="loginContainer">
                <img src="../assets/microsoft.png" alt="">
                <p class="poppins-medium">Log in with Microsoft</p>
            </div>
            <h2 class="line">OR</h2>
            <a href="register_page.html">
                <button class="login">Create a new account</button>
            </a>
        </div>      
        <a href="landing_page.html">
            <button class="back"><img src="../assets/arrow.png" alt=""> Back</button>
        </a>
    </div>
    <div class="connector">
        <a href=""> About</a>
        <a href="">Help</a>
        <a href="">Blog</a>
        <a href="">Privacy</a>
        <a href="">Jobs</a>
        <a href="">Location</a>
        <a href="terms_service.html">Term</a>
        <a href="">Wedio</a>
    </div>
    <footer>Ⓒ 2024 All Rights Reserved PT.Wedio</footer>
</body>
</html>