<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="/css/search.css">
    <link rel="stylesheet" href="/css/playbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body> 
    <div id="content">
    <div class = "container">
        <div class="left">
            <div class="title-logo">
                <img src="../assets/logo.svg" alt="" id="logo-img">
                <img src="../assets/WEDIO.svg" alt="" id="brand-logo">
            </div>
                <a href="home_page.html">
                    <button id="home">
                        <i class="fa fa-home"></i>
                        <span class="option">Home</span>
                    </button>
                </a>
                <a href="search_page.html">
                    <button type = "submit" id="search">
                        <i class="fa fa-search"></i>
                        <span class="option">Search</span>
                    </button>
                </a>
                <a href="chat_page.html">
                    <button type = "submit" id="message">
                        <i class="fa fa-comment" aria-hidden="true"></i>
                        <span class="option">Message</span>
                    </button>
                </a>
                <a href="create_post_page.html">
                    <button type = "submit" id="create">
                        <i class="fa fa-microphone"></i>
                        <span class="option">Create</span>
                    </button>
                </a>
                <a href="profile_page.html">
                    <button type = "submit" id="profile">
                        <i class="fa fa-search"></i>
                        <span class="option">Profile</span>
                    </button>
                </a>
        </div>
        <div class="right">
            <div class="search-container">
                <form action="/search" method="get">
                <input type="text" id="search" class="search" name="searchBar" placeholder="  Search for username, title, posts, or playlist">              
            </div>
            <div class="favorite-container">
                <br>
                <h2>Your Favorite Creators</h2>
                <div class="favorite-container2">
                    <div class="favorite">
                        <img src="/assets/images.jpeg">
                        <p class="artist">jennie</p>
                    </div>
                    <div class="favorite">
                        <img src="/assets/drake.jpg">
                        <p class="artist">jennie</p>
                    </div>
                    <div class="favorite">
                        <img src="/assets/kendrik.jpg">
                        <p class="artist">jennie</p>
                    </div>
                    <div class="favorite">
                        <img src="/assets/images.jpeg">
                        <p class="artist">jennie</p>
                    </div>
                    <div class="favorite">
                        <img src="/assets/images.jpeg">
                        <p class="artist">jennie</p>
                    </div>
                </div>
            </div>
            <div class="recomendation-container">
                <br>
                <h2>Reccomended Playlist</h2>
                <div class="favorite-container2">
                    <div class="favorite">
                        <img src="/assets/images.jpeg">
                        <p class="artist">jennie</p>
                    </div>
                    <div class="favorite">
                        <img src="/assets/drake.jpg">
                        <p class="artist">jennie</p>
                    </div>
                    <div class="favorite">
                        <img src="/assets/kendrik.jpg">
                        <p class="artist">jennie</p>
                    </div>
                    <div class="favorite">
                        <img src="/assets/images.jpeg">
                        <p class="artist">jennie</p>
                    </div>
                    <div class="favorite">
                        <img src="/assets/images.jpeg">
                        <p class="artist">jennie</p>
                    </div>
                    <div class="favorite">
                        <img src="/assets/images.jpeg">
                        <p class="artist">jennie</p>
                    </div>
                    <div class="favorite">
                        <img src="/assets/images.jpeg">
                        <p class="artist">jennie</p>
                    </div>
                    <div class="favorite">
                        <img src="/assets/images.jpeg">
                        <p class="artist">jennie</p>
                    </div>
                    <div class="favorite">
                        <img src="/assets/images.jpeg">
                        <p class="artist">jennie</p>
                    </div>  
                </div>
            </div>
        </form>
        </div>
    </div>
    
</div>
        <nav class="music-player">
            <div class="song-bar">
                <div class="song-infos">
                    <div class="image-container">
                        <img src="/assets/ab67616d0000b273c0e833f8baa95fdcbcc4f65a.jpg" id="image">
                    </div>
                    <div class="song-description">
                        <p class="title" id="title"> Fall in Love Alone</p>
                        <p class="artist" id="artist">Stacey Ryan</p>
                    </div>
                </div>
            </div>
                <div class="progress-container">
                    <div class="control-button">
                        <button>
                            <i class="fa fa-random" aria-hidden="true" id="shuffle"></i>
                        </button>
                        <button>
                            <i class="fa fa-step-backward" aria-hidden="true" id="previous"></i>
                        </button>
                        <button class="button">
                            <i class="fas fa-play" id="play"></i>
                        </button>
                        <button>
                            <i class="fa fa-step-forward" aria-hidden="true" id="next"></i>             
                        </button>      
                    </div>
                    <audio id="audio" src="/music/Stacey Ryan - Fall In Love Alone (Lyrics).mp3" type="audio/mpeg"></audio>
                    <div class="progress-container2" id="progress-container">
                        <span id="current-time">0:00</span>
                        <div class="progress-bar" id="progress-bar">
                        <div class="progress" id="progress"></div>
                        </div>
                        <span id="duration">0:00</span>
                    </div>
                </div>
                <div class="nextSong-container">
                        <div class="song-description">
                            <p>Next Song :</p>
                            <p class="title" id="title"> Midnight Fiction</p>
                            <p class="artist" id="artist">ILLIT</p>
                        </div>
                        <div class="image-container">
                            <img src="/assets/download (1).jpg" id="imageN">
                        </div>
                </div>
            </div>
        </nav>  
        <script src="/js/audio.js"></script>
</body>
</html>