<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Term And Service</title>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/tos.css">
</head>
<body>
    <div class="container1">
        <div class="container">
            <a href="load_screen.html">
                <div class="title-logo">
                    <img src="../assets/logo.svg" alt="" id="logo-img">
                    <img src="../assets/WEDIO.svg" alt="" id="brand-logo">
                </div>
            </a>
            <img src="../assets/ToS.png" alt="" class="tos">
        </div>      
        <a href="landing_page.html">
            <button class="back"><img src="../assets/arrow.png" alt=""> Back</button>
        </a>
    </div>
    <footer>Ⓒ 2024 All Rights Reserved PT.Wedio</footer>
</body>
</html>